<div fxLayoutAlign="center start">
  <div fxLayout="column" fxFlex="65">
    <p-panel header="read only objects" [toggleable]="true" collapsed="true" toggler="header">
      <p>
        TypeScript includes the readonly keyword that makes a property as read-only in the class, type or interface.
      </p>
      <p>
        Prefix readonly is used to make a property as read-only. Read-only members can be accessed outside the class,
        but their value cannot be changed. Since read-only members cannot be changed outside the class, they either
        need to be initialized at declaration or initialized inside the class constructor.
      </p>
      <pre><code [highlight]="readonly" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
      <p>
        In the above example, we have the Employee class with two properties- empName and empCode. Since empCode is read only, it can be initialized at the time of declaration or in the constructor.
      </p>
      <p>
        If we try to change the value of empCode after the object has been initialized, the compiler shows the following compilation error:
      </p>
      <p>
        error TS2540: Cannot assign to empCode' because it is a constant or a read-only property.
      </p>

      <!--<pre>{{ response | json }}</pre>-->

    </p-panel>

    <p-panel header="object prototypes" [toggleable]="true" collapsed="true" toggler="header">
      <p>
        All JavaScript objects inherit properties and methods from a prototype.
      </p>

      <ul>
        <li>
          Date objects inherit from Date.prototype
        </li>
        <li>Array objects inherit from Array.prototype</li>
        <li>
          Person objects inherit from Person.prototype
        </li>
      </ul>
      <p>
        The Object.prototype is on the top of the prototype inheritance chain:
        Date objects, Array objects, and Person objects inherit from Object.prototype.
      </p>
      <pre><code [highlight]="prototype" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
    </p-panel>

    <p-panel header="observable and promise patterns" [toggleable]="true" collapsed="true" toggler="header">
      <ul>
        <li>A Promise is eager, whereas an Observable is lazy.</li>
        <li>A Promise is always asynchronous, while an Observable can be either sequentially synchronous or asynchronous.</li>
        <li>A Promise can provide a single value, whereas an Observable is a stream of values (from 0 to multiple values).</li>
        <li>You can apply RxJS operators to an Observable to get a new tailored stream.</li>
        <li>
          In Angular we can subscribe to an observable in two ways. [async,or subscribe method]
          <ul>
            <li>
              It is best to use async as this is the most easy and you don’t have to manually manage your subscriptions. Keeping your subscriptions open while not using them is a memory leak and therefore not good.
            </li>
          </ul>
        </li>
        <pre><code [highlight]="operatorObservable" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
      </ul>

      <h3>Executing observables</h3>
      <p>
        The code inside an observables represents the execution of the observables. On the parameter that was given when creating the observable there are three functions available to send data to the subscribers of the observable:
      </p>
      <ul>
        <li>
          “next”: sends any value such as Numbers, Arrays or objects to it’s subscribers.
        </li>
        <li>
          “error”: sends a Javascript error or exception
        </li>
        <li>
          “complete”: does not send any value.
        </li>
      </ul>
      <h3>Open dev tools and monitor the console.</h3>
      <div fxLayout="row wrap" fxLayoutAlign="start">
        <p-button label="Promices are eager" (click)="greetPromice()"></p-button>
        <p-button label="Observable is lazy" (click)="greetObservable()"></p-button>
        <p-button label="Synchronous Observer (sequential)" (click)="greetingObservableSynchronously()"></p-button>
        <p-button label="Asynchronous Observer (non-sequential)" (click)="greetingObservableAsynchronously()"></p-button>
        <p-button label="Observable with multiple values over time" (click)="greetingObservableOverTime()"></p-button>
        <p-button label="Observable with Operators" (click)="greetingObservableOperator()"></p-button>
      </div>
    </p-panel>

    <p-panel header="hot vs cold observable" [toggleable]="true" collapsed="true" toggler="header">

      <pre><code [highlight]="observablesTemp" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>

    </p-panel>

    <p-panel header="rxjs" [toggleable]="true" collapsed="true" toggler="header">
      <span>
        <pre class="inline"><code>changeDetection.onPush</code></pre> is the desired method working with observables and is preferred over using
      </span>
      <span>
        <pre class="inline"><code>changeDetection.default</code></pre> which is always subscribed and therefore not performant and non unsubcribeable.
      </span>

      <h2>Subjects</h2>
      <p>
        Before we can make our “cold” observable “hot”, we need to introduce a new type: The Rx Subject.
        It has a few properties:
      </p>
      <ol>
        <li>It’s an observable. It’s shaped like an observable, and has all the same operators.</li>
        <li>It’s an observer. It duck-types as an observer. When subscribed to as an observable, will emit any value you “next” into it as an observer.</li>
        <li>It multicasts. All observers passed to it via `subscribe()` are added to an internal observers list.</li>
        <li>When it’s done, it’s done. Subjects cannot be reused after they’re unsubscribed, completed or errored.</li>
        <li>It passes values through itself. To restate #2, really. If you `next` a value into it, it will come out of the observable side of itself.</li>
      </ol>
      <p>
        An Rx Subject is called a “subject” for item #3 above. “Subjects” in the Gang of Four Observer-Pattern are classes
        with an `addObserver` method, generally. In this case, our `addObserver` method is `subscribe`. Here is a JSBin
        showing the basic behavior of an Rx Subject.
      </p>
      <pre><code [highlight]="subjects" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
    </p-panel>

    <p-panel header="map, reduce, filter, includes" [toggleable]="true" collapsed="true" toggler="header">
      <a href="https://medium.com/poka-techblog/simplify-your-javascript-use-map-reduce-and-filter-bd02c593cc2d">map, reduce, filter</a>
      <p>
        The map() method creates a new array populated with the results of calling
        a provided function on every element in the calling array.
      </p>
      <pre><code [highlight]="map" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>

      <h2>Reduce</h2>
      <p-button label="find youngest pilot" (click)="findYoungestPilot()"></p-button>
      {{findYoungest.name }}{{ findYoungest.years }}
      <p-button label="find oldest pilot" (click)="findOldestPilot()"></p-button>
      {{findOldest.name }}{{ findOldest.years }}

    </p-panel>

    <p-panel header="Destructuring" [toggleable]="true" collapsed="true" toggler="header">
      <p>

      </p>
      <pre><code [highlight]="destructuringPre" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>

    </p-panel>

    <p-panel header="Generator Functions" [toggleable]="true" collapsed="true" toggler="header">
      <p>
        The Generator object is returned by a generator function and it conforms to both the iterable protocol and the iterator protocol.
      </p>
      <pre><code [highlight]="fib" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>

    </p-panel>

    <p-panel header="spread operator" [toggleable]="true" collapsed="true" toggler="header">
      <p>
        The spread operator allows us to spread the value of an array (or any iterable) across
        zero or more arguments in a function or elements in an array (or any iterable). The rest
        parameter allows us to pass an indefinite number of parameters to a function and access them in an array.
      </p>
      <pre><code [highlight]="spread" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>

    </p-panel>

    <p-panel header="ternary operator" [toggleable]="true" collapsed="true" toggler="header">
      <p>


      </p>
      <pre><code [highlight]="ternary" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>

    </p-panel>

    <p-panel header="curry function" [toggleable]="true" collapsed="true" toggler="header">
      <p>
        Anyone reading about currying should probably understand the concept of first class functions in
        JavaScript. In short, in functional programming JavaScript has first class functions because it
        supports functions as arguments and return values.
      </p>


      <p>
        Currying is the process of taking a function with multiple arguments and turning it into a sequence
        of functions each with only a single argument.
      </p>

      <pre><code [highlight]="curry" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>


      <h2>
        This is an example of currying applied on a familiar JavaScript method and generating new functions using it:
      </h2>


      <pre><code [highlight]="curry2" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>



      <h2>
        Functional composition
      </h2>
      <p>
        In functional composition you have a sequence of functions applied all on the same single argument as f(g(x)). This would be your example:
      </p>

      <pre><code [highlight]="curry3" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>



      <h2>
        It is also very popular to use a compose function to compose your functions::
      </h2>


      <pre><code [highlight]="curry4" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>



      <h2>
        Using the above-defined functions curriedSubstring and curriedLowerCase you can then use compose to do this:
      </h2>


      <pre><code [highlight]="curry5" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>



      <h2>
        Using currying led to a better code. I chose syntax:
      </h2>

      <pre><code [highlight]="curry6" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>


    </p-panel>

    <p-panel header="Localization" [toggleable]="true" collapsed="true" toggler="header">
      https://angular.io/guide/i18n
    </p-panel>

    <p-panel header="rest put vs post, the nature of idempotent methods" [toggleable]="true" collapsed="true" toggler="header">
      https://restfulapi.net/rest-put-vs-post/
      <h3>GET, PUT, DELETE, HEAD, OPTIONS and TRACE are idempotent.</h3>
      <p>
        In the context of REST APIs, when making multiple identical requests has the same effect as making a single request – then that REST API is called idempotent.
      </p>
      <p>
        When you design REST APIs, you must realize that API consumers can make mistakes. Users can write client code in such a way that there can be duplicate requests coming to the API.
      </p>
      <p>
        These duplicate requests may be unintentional as well as intentional some time (e.g. due to timeout or network issues). You have to design fault-tolerant APIs in such a way that duplicate requests do not leave the system unstable.
      </p>

      <h3>HTTP POST is not idempotent.</h3>
      <p>
        Generally – not necessarily – POST APIs are used to create a new resource on server.
        So when you invoke the same POST request N times, you will have N new resources on the server.
        So, POST is not idempotent.
      </p>
    </p-panel>

    <p-panel header="Error Handling" [toggleable]="true" collapsed="true" toggler="header">
      https://angular.io/guide/i18n
    </p-panel>

    <p-panel header="Random" [toggleable]="true" collapsed="true" toggler="header">
      <h4>Given a list of numbers and a number k, return whether any two numbers from the list add up to k</h4>
      <p>
        You should start reading it from the else block, then the if block.
      </p>

      <p>
        What hashMap[k - value] = true does is keep track of what number we will need to
        get to k using the current item value of the array.
      </p>

      <p>
        For example, if k is 11 and the current item value is 7, then hashMap will become
        &#123; "4": true&#125;, meaning that we are looking for a 4 (because 7 + 4 == 11). If the next
        value is 3, then hashMap becomes &#123;"4": true, "8": true &#125;, meaning we are looking
        for either 4 or 8 at this point, ...
      </p>

      <p-button label="test" (click)="findSums([2,5,7,8,9,11,12], 12)"></p-button>

      <pre><code [highlight]="findSum" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
    </p-panel>

    <p-panel header="Typescript" [toggleable]="true" collapsed="true" toggler="header">
      <h3>Generics</h3>
      <pre><code [highlight]="generics" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
      <h3>Flags: Compiler Options</h3>
      <ul>
        <li>
          noImplicitAny <ul>
  <li>
    The flag noImplicitAny instructs the compiler to raise an error if it cannot infer the type of a variable (and therefore can only have it as an implicit any type). You can then
    either say that yes I want it to be of type any by explicitly adding an : any type annotation
    help the compiler out by adding a few more correct annotations.
  </li>
</ul>
        </li>
      </ul>
    </p-panel>

    <p-panel header="resources" [toggleable]="true" collapsed="true" toggler="header">
      <ul>
        <li><a href="https://mattperry.is/writing-code/layout-projection-animate-browser-layout-60fps">layout-projection-animate-browser-layout-60fps</a></li>
        <li><a href="https://popmotion.io/#quick-start-animation-animate-options-repeat">Popmotion.js</a></li>
        <li><a href="https://www.framer.com/motion/">Framer Motion</a></li>
        <li><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html">Basic Types</a></li>
        <li><a href="https://ultimatecourses.com/blog/angular-decorators">angular-decorators</a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </p-panel>
  </div>
</div>
