:host {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 8px;
}
h3 {
  font-size: 18px;
  padding:10px 0 0 0;
}
h5 {
  font-size: 18px;
  margin-bottom: 8px;
}

p{
    margin:10px 0;
}
