<p-panel header="Fetch Json data over HTTP with error checking" [toggleable]="true">
  <div fxLayout="row">
    <p-button label="Make a bad request" (click)="checkForErrors()"></p-button>
    <p-button label="Make a good request" (click)="checkForSuccess()"></p-button>
  </div>
  <p-table [value]="jsonDataArray">
    <ng-template pTemplate="header">
      <tr>
        <th>Package</th>
        <th>Score</th>
        <th>Search Score</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-jsonDataArray>
      <tr>
        <td>{{jsonDataArray.package.name}}</td>
        <td>{{jsonDataArray.score.final}}</td>
        <td>{{jsonDataArray.searchScore}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
<p-toast position="top-right"></p-toast>
