<p-card header="" fxFlex="35">
  
    <h2 *ngFor="let item of item$ | async">
      {{ item.name }}
    </h2>
  
  <div fxLayout="column">
    <p>GraphQL is a query language for APIs and a runtime for fulfilling those queries with your existing data. GraphQL provides a complete and understandable description of the data in your API, gives clients the power to ask for exactly what they need and nothing more, makes it easier to evolve APIs over time, and enables powerful developer tools.</p>
    <ul>

      <li *ngFor="let post of posts | async">
        <p-card header="">
          {{post.title}} by {{post.author.firstName}} {{post.author.lastName}}
          ({{post.votes}} votes)
          <app-upvoter [postId]="post.id" style="float:right;"></app-upvoter>
        </p-card>
      </li>
    </ul>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <p-button label="Fetch message from server" (click)="sayHi()"></p-button>
      <h2>{{greeting}}</h2>
    </div>

    <div fxLayout="column">
      <h2>Fetch model from server</h2>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <input pInput type="number" [(ngModel)]="userId" placeholder="User ID">
        <p-button type="button" (click)="getUser()">Get user</p-button>
        <p-button type="button" (click)="getAllUsers()">Get all users</p-button>
      </div>

      <div *ngIf="user">
        User is called {{user.getFullName()}}. He has the following tasks:
        <ul>
          <li *ngFor="let task of user.tasks">
            {{task.brand}} {{task.model}} with {{task.getHp()}} tasks.
          </li>
        </ul>
      </div>

      <div *ngIf="users">
        <hr>

        <ul>
          <li *ngFor="let user of users;">
            {{user.getFullName()}} is {{user.position}} and has {{user.tasks.length}} tasks
          </li>
        </ul>
      </div>
    </div>
  </div>
</p-card>
